<div class="cart_title">
	<div class="img_cart">
		<a href="/Cart/Index">
			<img src="@Url.Content("~/Content/img/icon_giohang.png")" alt="Shop Bé Sơ Sinh">
			<span>0</span>
		</a>
	</div>
	<div class="link_cart">
		<a href="/Cart/Index">
			Giỏ hàng của bạn
		</a>
	</div>
	<div class="nn-top-cart-content" style="overflow: hidden; display: none;">
		<p class="empty">Không có sản phẩm nào trong giỏ hàng.</p>
		<div class="top-subtotal">Thanh toán: <span class="price">0.00 VNĐ</span></div>
	</div>
</div>

