<form class="" role="search" action="/Product/Search">
    <div class="input-group input-group-lg">
        <input id="search" name="keywords" class="search-top form-control" placeholder="Tìm kiếm" />
        <span class="input-group-btn">
            <button class="btn btn-default search-top" type="submit"><span class="glyphicon glyphicon-search"></span></button>
        </span>
    </div>
</form>