@model IEnumerable<Category>
@{
	ViewBag.Title = "Shop bé sơ sinh";
}

<div class="nn-home-banner  col-md-8 col-sm-12 col-sx-12">
	<img src="/Content/img/banner/home-banner03.jpg" class="img-responsive" />
</div><!--end home banner-->
<div class="col-md-4 col-sm-6 col-sx-12">
	<div class="address-right">
		<div class="address-title">
			Địa chỉ
		</div>
		<div class="address-content">
			ABC, Cách Mạng Tháng 8
		</div>
	</div>
	<div class="client-support">
		<div class="support-title">
			Hỗ trợ khách hàng
		</div>
		<div class="support-content">
			<div class="hotline-support">
				Hotline: <span>0123.456.789</span>
				<div class="clear"></div>
			</div>
			<div class="zalo-support">
				Zalo: <span>0123.456.789</span>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>